* {
  all: unset; // Unsets everything so you can style everything from scratch
  font-family: "ComicCode Nerd Font"; 
  font-size: 12px;
}

.menu {
  background-color:#000000;
  color: #FFFFFF;
  padding: 2px;
}

// Global Styles
.bar {
  background-color: #000000;
  color: #FFFFFF;
  padding: 2px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #222222;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.workspace {
  &.active {
    &.ws0 { color: #ff0000; }
    &.ws1 { color: #00ff00; }
    &.ws2 { color: #0000ff; }
    &.ws3 { color: #ffff00; }
    &.ws4 { color: #0000ff; }
    &.ws5 { color: #ff00ff; }
    &.ws6 { color: #00ffff; }
  }

  &.inactive {
    &.ws0 { color: #800000; }
    &.ws1 { color: #008000; }
    &.ws2 { color: #000080; }
    &.ws3 { color: #808000; }
    &.ws4 { color: #000080; }
    &.ws5 { color: #800080; }
    &.ws6 { color: #008080; }
  }
}

